body{
margin:0px;
}
#d1{
background:blue;
width:150px;
height:150px;
position:absolute;
left:150px;
top:150px;
}
#d2{
background:blue;
width:150px;
height:150px;
position:absolute;
left:470px;
top:150px;
}
#d3{
width:200px;
height:200px;
border:1px solid  black;
position:absolute;
left:10px;
top:10px;
}
#d4{
background:grey;
width:400px;
height:200px;
position:absolute;
left:230px;
top:10px;
border:1px solid  black;
}
#d5{
background:blue;
width:150px;
height:150px;
position:absolute;
left:310px;
top:150px;
}
#d6{
background:red;
margin:10px;
width:380px;
height:180px;
}
#blok1{
background:green;
width:100px;
height:100px;
}
#blok2{
background:white;
width:100px;
height:100px;
position:absolute;
left:100px;
top:0px;
}
#blok3{
background:black;
width:100px;
height:100px;
position:absolute;
left:0px;
top:100px;
}
#blok4{
background:red;
width:100px;
height:100px;
position:absolute;
left:100px;
top:100px;
}

